# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/

# VSCode settings (optional)
.vscode/

# System files (macOS, Windows)
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Environment variables / credentials (optional)
.env
